<?xml version="1.0" encoding="utf-8"?>
<configuration>  
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- Para comentar línea en html -->
      <!--Data Source=DESKTOP-AKJEOB7 es mi PC de desarrollo -->
      <!--Data Source=DESKTOP-8885JVO es la PC de Test de Sistemas de EMA -->
      <!--Data Source=DESKTOP-KUHI3FB es la PC de Test Acer -->
      <!--Data Source=Sofia-PC es la PC de Test Lenovo -->
      <!--Data Source=laporotina-PC es la PC de Test Diseño -->
      <add name="CapaPresentacion.Properties.Settings.EmaSysDBConnectionString" connectionString="Data Source=DESKTOP-AKJEOB7\SQLEXPRESS;Initial Catalog=EmaSysDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>